*~

# /temp* files used for prototyping + hacks.  usually temp.rb
/temp*

# Default GEM .gitignore

*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
